@model Oljeopardy.Models.JeopardyViewModels.CategoriesViewModel

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if ((string)ViewData["Message"] != "")
    {
        <div class="alert alert-success">
            <strong>@ViewData["Message"]</strong>
        </div>
    }
    <div>
        <form asp-controller="Category" asp-action="Edit">
            <select asp-for="ChosenCategoryGuid"
                    asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))" class="dropdown">
                <option selected disabled>Vælg en kategori</option>
            </select>
            <input type="button" class="menubutton" value="Rediger kategori" onClick="ValidateForm(this.form)"/>
        </form>

        <div>
            <a asp-controller="Category" asp-action="Create"><button class="menubutton">Ny kategori</button></a>
        </div>
    </div>
</div>