@model Oljeopardy.Models.JeopardyViewModels.CategoriesViewModel

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    @if ((string)ViewData["Message"] != "")
    {
        <div class="alert alert-success">
            <strong>@ViewData["Message"]</strong>
        </div>
    }
    @if (@Model.CategoryList != null && Model.CategoryList.Count() > 0)
    {
        <div>
            <form id="categoryEditForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <select class="form-control" asp-for="ChosenCategoryGuid"
                                    asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))" class="dropdown">
                                <option selected disabled>Vælg en kategori</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row button-container">
                <button class="menubutton" onclick="editCategory()">Rediger kategori</button>
            </div>
        </div>
    }
    <div class="row button-container">
        <form><button type="button" onclick="loadCreateCategory()" class="menubutton">Opret kategori</button></form>
    </div>
</div>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>
