@model Øljeopardy.Models.JeopardyViewModels.CategoriesViewModel

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if ((string)ViewData["Message"] != "")
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@ViewData["Message"]</strong>
        </div>
    }
    <div>
        <form asp-controller="Category" asp-action="Edit">
            <select asp-for="ChosenCategoryGuid"
                    asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))">
                <option>Vælg en kategori</option>
            </select>
            <input type="submit" class="menubutton" value="Rediger kategori"/>
        </form>

        <div>
            <a asp-controller="Category" asp-action="Create"><button class="menubutton">Ny kategori</button></a>
        </div>
    </div>
</div>