@model Oljeopardy.Models.JeopardyViewModels.HomeViewModel
<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <form>
        <div class="row">
            <div class="center-block">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    @if (!Model.HasCategory)
                    {
                        <h4>
                            Du har endnu ikke oprettet en kategori.
                        </h4>
                        <div class="row button-container">
                            <button type="button" onclick="loadCreateCategory()" class="menubutton">Opret kategori</button>
                        </div>
                    }
                    else if (!Model.HasActiveGame)
                    {
                        <h4>
                            Du deltager ikke i et spil.
                        </h4>
                        @if (Model.ActiveGameExists)
                        {
                            <div class="row button-container">
                                <button type="button" onclick="loadParticipateGame()" class="menubutton">Deltag i et spil</button>
                            </div>
                        }
                        else
                        {
                            <h4>
                                Der er ingen aktive spil.
                            </h4>
                        }
                        <div class="row button-container">
                            <button type="button" onclick="loadAddGame()" class="menubutton has-spinner">
                                <span class="spinner"><i class="fa fa-refresh fa-spin fa-lg"></i></span>
                                <span class="btn-text">Opret nyt spil</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <h4>
                            Du deltager i et spil.
                        </h4>
                        <div class="row button-container">
                            <button type="button" onclick="loadGame()" class="menubutton">Gå til spillet</button>
                        </div>
                    }
                }
                else
                {
                    <div class="row button-container">
                        <button asp-controller="Account" asp-action="Login" class="menubutton">Log ind</button>
                    </div>
                    <div class="row button-container">
                        <button asp-controller="Account" asp-action="Register" class="menubutton">Ny bruger</button>
                    </div>
                }
            </div>
        </div>
    </form>
</div>