<h1>@ViewData["Title"]</h1>

<div class="row">
    <hr />
    <form>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <div>
                <button asp-controller="Game" asp-action="Participate" class="menubutton">Deltag i et spil</button>
            </div>
            <div>
                <button asp-controller="Game" asp-action="Add" class="menubutton">Opret nyt spil</button>
            </div>
        }
        else
        {
            <div>
                <button asp-controller="Account" asp-action="Login" class="menubutton">Log ind</button>
            </div>
            <div>
                <button asp-controller="Account" asp-action="Register" class="menubutton">Ny bruger</button>
            </div>
        }
    </form>
</div>