<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <ul>
        <li>
            Alle spillere sørger for at have mindst ét 2 cl stort glas og en tilstrækkelig mængde øl.
        </li>
        <li>
            Hver spiller opretter en kategori med fem tilsvarende sæt af svar og spørgsmål, som får pointværdierne 100-500.
        </li>
        <li>
            Der vælges en spiller, der som den første vælger en kategori og pointværdi. Ejeren af den pågældende kategori begynder at læse op, og de øvrige spillere må så gætte spørgsmålet én gang for hvert drukket glas øl. Kategoriens ejer standser oplæsningen, når der løftes et glas, og fortsætter igen, når alle gæt er gjort.
        </li>
        <li>
            Den spiller, der først gætter spørgsmålet, tildeles kortets værdi i point og vælger en ny ledig kategori og en pointværdi.
        </li>
        <li>
            Hvis det viser sig, at ingen kan gætte spørgsmålet, trykker oplæseren på "Æd den selv". Oplæseren vil da få minuspoint svarende til spørgsmålets værdi.
        </li>
        <li>
            Spillet fortsætter, indtil alle spørgsmål er gættet, og vinderen er den spiller, der har flest point ved spillets afslutning.
        </li>
    </ul>
</div>