<ul class="menubar-list">
    <li class="menubar-listitem">
        <a class="menubar-listitem-a" asp-controller="Home" asp-action="Index">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </li>
    <li class="menubar-listitem">
        <a class="menubar-listitem-a" asp-controller="Home" asp-action="Rules">
            <i class="fa fa-legal" aria-hidden="true"></i>
        </a>
    </li>
    <li class="menubar-listitem">
        <a class="menubar-listitem-a" asp-controller="Home" asp-action="Categories">
            <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
    </li>
    <li class="menubar-listitem">
        <a class="menubar-listitem-a" asp-controller="Home" asp-action="Game">
            <i class="fa fa-gamepad" aria-hidden="true"></i>
        </a>
    </li>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li class="menubar-listitem">
            <a class="btn" asp-controller="Account" asp-action="Logout">
                Log ud
            </a>    
        </li>
    }
</ul>