$background: rgba(255,255,255,0.4);
$navbarBackground: rgba(255,255,255,0.8);
$appWidth: 440px;
$borderWidth: 1px;

html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    color: black;
    font-weight: normal;
    line-height: 20px;
    background: url(beer.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    overflow: scroll;
}

h1, h2 {
    font-family: "Times New Roman", Times, serif;
}

.container {
    margin: 0 auto;
    padding: 10px 35px;
    text-align: center;
    max-width: $appWidth;
    height: 100%;
    background-color: $background;
    border: solid;
    border-width: $borderWidth;
}

.menubar-container {
    margin: 0 auto;
    overflow: hidden;
    background-color: $navbarBackground;
    font-size: 30px;
    text-align: center;
    max-width: $appWidth;
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-width: $borderWidth;
}

.menubar-listitem {
    display: inline;
}

.menubar-listitem-icon {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

.menubar-listitem-link {
    padding: 9px 0 7px 0;
    float: right;
    margin-right: -10px;
}

.menubutton {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 65%;
    height: 50px;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 14px;
    background: #368015;
    color: #fff;
    box-shadow: 0 6px 4px #0D3E0F;
    border-radius: 10px;
    -webkit-appearance: none;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.dropdown {
    font-style: italic;
    font-size: inherit;
    width: 80%;
}

.answer-question-container {
    margin-bottom: 10px;
}

.answer-question-input {
    resize: vertical;
}

.up-down-table {
    margin: 8px 0 0 -100%;
}