@model Øljeopardy.Models.JeopardyViewModels.CategoryViewModel
<h1>@ViewData["Title"]</h1>

<div class="row">
    <hr />
    <form asp-controller="Category" asp-action="SubmitCategory" method="post">
        <input asp-for="Id" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-xs-12">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <p>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <label asp-for="AnswerQuestion100.Answer"></label>
                </div>
                <div class="col-xs-6">
                    <label asp-for="AnswerQuestion100.Question"></label>
                </div>
            </div>
            <div class="row">
                100
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion100.Answer" class="form-control answer-question-input"></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion100.Question" class="form-control answer-question-input"></textarea>
                </div>
            </div>
            <div class="row">
                200
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion200.Answer" class="form-control answer-question-input"></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion200.Question" class="form-control answer-question-input"></textarea>
                </div>
            </div>
            <div class="row">
                300
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion300.Answer" class="form-control answer-question-input"></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion300.Question" class="form-control answer-question-input"></textarea>
                </div>
            </div>
            <div class="row">
                400
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion400.Answer" class="form-control answer-question-input"></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion400.Question" class="form-control answer-question-input"></textarea>
                </div>
            </div>
            <div class="row">
                500
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion500.Answer" class="form-control answer-question-input"></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion500.Question" class="form-control answer-question-input"></textarea>
                </div>
            </div>
        </p>
        <div>
            <button type="submit" class="menubutton">Gem</button>
        </div>
    </form>
</div>