@model Oljeopardy.Models.JeopardyViewModels.CategoryViewModel
<h1>@ViewData["Title"]</h1>

<div class="row">
    <hr />
    <form asp-controller="Category" asp-action="SubmitCategory" method="post">
        <input asp-for="Id" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-xs-12">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <p>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <label asp-for="AnswerQuestion100.Answer"></label>
                </div>
                <div class="col-xs-5">
                    <label asp-for="AnswerQuestion100.Question"></label>
                </div>
            </div>
            <div class="row">
                100
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion100.Answer" class="form-control answer-question-input" id="a1"></textarea>
                </div>
                <div class="col-xs-5">
                    <textarea asp-for="AnswerQuestion100.Question" class="form-control answer-question-input" id="q1"></textarea>
                </div>
                <div class="col-xs-1">
                    <table class="up-down-table">
                        <tr>
                            <td style="visibility: hidden;"><button type="button" class="fabutton" onclick="MoveAnswerQuestion(1,'up')"><i class="fa fa-sort-up fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(1,'down')"><i class="fa fa-sort-down fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                200
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion200.Answer" class="form-control answer-question-input" id="a2"></textarea>
                </div>
                <div class="col-xs-5">
                    <textarea asp-for="AnswerQuestion200.Question" class="form-control answer-question-input" id="q2"></textarea>
                </div>
                <div class="col-xs-1">
                    <table class="up-down-table">
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(2,'up')"><i class="fa fa-sort-up fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(2,'down')"><i class="fa fa-sort-down fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                300
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion300.Answer" class="form-control answer-question-input" id="a3"></textarea>
                </div>
                <div class="col-xs-5">
                    <textarea asp-for="AnswerQuestion300.Question" class="form-control answer-question-input" id="q3"></textarea>
                </div>
                <div class="col-xs-1">
                    <table class="up-down-table">
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(3,'up')"><i class="fa fa-sort-up fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(3,'down')"><i class="fa fa-sort-down fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                400
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion400.Answer" class="form-control answer-question-input" id="a4"></textarea>
                </div>
                <div class="col-xs-5">
                    <textarea asp-for="AnswerQuestion400.Question" class="form-control answer-question-input" id="q4"></textarea>
                </div>
                <div class="col-xs-1">
                    <table class="up-down-table">
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(4,'up')"><i class="fa fa-sort-up fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(4,'down')"><i class="fa fa-sort-down fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                500
            </div>
            <div class="row answer-question-container">
                <div class="col-xs-6">
                    <textarea asp-for="AnswerQuestion500.Answer" class="form-control answer-question-input" id="a5"></textarea>
                </div>
                <div class="col-xs-5">
                    <textarea asp-for="AnswerQuestion500.Question" class="form-control answer-question-input" id="q5"></textarea>
                </div>
                <div class="col-xs-1">
                    <table class="up-down-table">
                        <tr>
                            <td><button type="button" class="fabutton" onclick="MoveAnswerQuestion(5,'up')"><i class="fa fa-sort-up fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td style="visibility: hidden;"><button type="button" class="fabutton" onclick="MoveAnswerQuestion(5,'down')"><i class="fa fa-sort-down fa-lg" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </p>
        <div>
            <button type="submit" class="menubutton">Gem</button>
        </div>
    </form>
</div>